* {
    font:sans-serif;
    color: #202020;
    
    box-sizing: border-box;
    margin: 0; 
    height: 30px;
}

.navbar {
  margin-left: 20px;
  padding-top: 20px;
}

.timerbox {
  margin-left: 60%;
  margin-top: 5%;
}

.questionbox {
  margin-left: 35.5%;
  margin-top: 20px;
}

#start {
  margin-top: 10px;
  margin-left: 15%;
  color: white;
  background-color: purple;
}

#start:hover {
  transform: scale(1.1);
}